<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>821975496869-1bkal0rucq9l3ejmquvo2l37339fmlf9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.821975496869-1bkal0rucq9l3ejmquvo2l37339fmlf9</string>
	<key>API_KEY</key>
	<string>AIzaSyCa177Wcb2xpDwVy72Nxe59OnQIW-8V9-0</string>
	<key>GCM_SENDER_ID</key>
	<string>821975496869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>adeOlusunmade.Avenue</string>
	<key>PROJECT_ID</key>
	<string>avenue-79575</string>
	<key>STORAGE_BUCKET</key>
	<string>avenue-79575.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821975496869:ios:7937dc1cd156b5b8</string>
	<key>DATABASE_URL</key>
	<string>https://avenue-79575.firebaseio.com</string>
</dict>
</plist>